body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	top: 0px;
	margin: 0 !important;
	padding: 0 !important;
	background: #313131;
	height: 10000px;
}

p{
	margin: 0 ;
	font-family: roboto;
	font-weight: 300;
	color: white;
}


/*HEADER HEROICS*/

h1 {
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	color: #EEEEEE;
	text-align: center;
	margin: 0;
}


#main-page-container{
	margin: 0 auto;
	padding: 0;
	position: relative;
}

#header{
	width: 100%;
	margin: 0 auto;
	background-color: #202020;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 100;
}

.menu-button{
	position:absolute;
	left:10px;
}

#logo{ 
	margin: 0 auto;
	position: relative;
}

#logo:hover{
	cursor: pointer;
}

.logo{
	height:50px;
	position: relative;
}


/*FIRST PAGE*/
#page-1{
	width:100%;
	height:100vh;
	opacity: 1;
	position: relative;
	top: 50px;
	z-index: -1;
	background: black;
	display:flex;
}

#page-1::after {
  content: "";
  	background-image: url(../img/bg-image.jpg);
	background-size: 150% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 40% 30%; 
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


#title-container{
	margin: auto;
	width:600px;
	height: 400px;
	transform: translateY(-10%);
}

#title-container:hover{
	cursor: default;
}

#visualizing{
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	font-size: 42pt;
	color: #EEEEEE;
	position: absolute;
	top: 28px;
	left:80px;
}

#the{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-size: 20pt;
	color: #EEEEEE;
	top: 65px;
	left:440px;
}

#year{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 92pt;
	color: #EEEEEE;
	top: 82px;
	left:72px;
}

#dclass{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 44pt;
	color: #EEEEEE;
	top: 208px;
	left:42px;
}

svg.orange-boxes{
	position: absolute;
	top: 40px;
	left:15px;
	z-index: -1;
}

#downarrow{
	position:absolute;
	left: 50%;
	transform: translateX(-50%);
	top:550px;
}

/*Page 1 & 2: The Content Slides*/

.sec-page-container{
	background: ;
	height: 1200px;
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}

.draft-column-container{
	background:;
	position: relative;
	height: 820px;
	width: 990px;
	margin: 0 auto;
}

.draft-column{
	background:;
	width: 330px;
	float: left;
	position: relative;
}

.round-title{
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	margin: 80px 0 40px 0;
}

.draft-box{
	padding: 5px 5px 17px 5px;
	width: 340px;
	height: 60px;
	z-index: -10;
}

.draft-circle{
	position: absolute;
	z-index:5;
}

.prof-bg{
	height: 69px;
	width: 69px;
	position: absolute;
	border-radius: 100%;
	transform: translateY(-56px) translateX(1px);
}

.prof{
	position: relative;
	height: 52px;
	left: 0px;
	top: 13px;
	border-radius:100%;
	z-index: 4;
}

.draft-bg{
	position:relative;
	top: -50px;
	left: 30px;
	z-index:-2;
}


h3{
	font-family: kanit;
	font-weight: 500i;
	font-style: italic;
	margin: 0;
	transform:translateX(80px) translateY(-112px);
	color: #202020;
}

.bballposition{
	font-family: kanit;
	font-weight: 300i;
	font-size: 10pt;
	font-style: italic;
	text-align: right;
	margin: 0;
	transform:translateX(-75px) translateY(-140px);
	color: #FF6B00;
}

h4{
	font-family: kanit;
	font-weight: 500;
	font-size: 10pt;
	margin: 0;
	transform:translateX(80px) translateY(-140px);
	color: #777777;
}

h5{
	font-family: kanit;
	font-weight: 300;
	font-style: italic;
	font-size: 10pt;
	margin: 0;
	transform:translateX(80px) translateY(-146px);
	color: #777777;
}

h5.pick{
	transform:translateX(275px) translateY(-164px);
}

.pick-no{
	font-family: kanit;
	font-weight: 500;
	font-size: 20pt;
	text-align: center;
	margin: 0;
	transform:translateX(123px) translateY(-217px);
	color: #202020;
}

/*World Map Page*/
.map-container{
	background:;
	width: 100%;
	margin: 0 auto;
	padding: 200px 0 50px 0;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.sec-map-container{
	position: relative;
	margin: 0 auto;
}

.wm{
	position: relative;
}

/*Bar Graphs*/

.stats-module{
	margin: 80px auto 0 auto;
	height: 720px;
	width: 880px;
	background:;
}

.large-prof{
	border-radius: 100%;
	width: 180px;
	transform: translateX(13px) translateY(64px);
	z-index: 1;
	position: absolute;
}

.large-circle{
	transform: rotate(90deg);
	z-index: 5;
	position: absolute;
}

.large-bg{
	z-index:0;
	position: absolute;
	height:198px;
	width: 198px;
	border-radius: 100%;
	transform: translateX(6px);
}

.prof-container{
	left:120px;
	position: relative;
	float: left;
}

.ppg{
	text-align: center;
	color: white;
	font-family: roboto;
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 20pt;
}

.info-container{
	position: relative;
	float: left;
	left: 360px;
	top: 20px;
}

.name{
	font-size: 48pt;
	font-family: kanit;
	font size: 800;
}

/*Sidebar*/


/*Rando Additive Tags*/

.floatleft{
	float: left;
}

.abs{
	position: absolute;
}