body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	top: 0px;
	margin: 0 !important;
	padding: 0 !important;
	background: #313131;
	height: 10000px;
}


/*HEADER HEROICS*/

h1 {
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	color: #EEEEEE;
	text-align: center;
	margin: 0;
}


#main-page-containter{
	margin: 0 auto;
	padding: 0;
}

#header{
	width: 100%;
	margin: 0 auto;
	background-color: #202020;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 100;
}

.menu-button{
	position:absolute;
	left:10px;
}

#logo{ 
	margin: 0 auto;
	position: relative;
}

#logo:hover{
	cursor: pointer;
}

.logo{
	height:50px;
	position: relative;
}


/*FIRST PAGE*/
#page-1{
	width:100%;
	height:100vh;
	opacity: 1;
	position: relative;
	top: 50px;
	z-index: -1;
	background: black;
	display:flex;
}

#page-1::after {
  content: "";
  	background-image: url(../img/bg-image.jpg);
	background-size: 150% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 40% 30%; 
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


#title-container{
	margin: auto;
	width:600px;
	height: 400px;
	transform: translateY(-10%);
}

#title-container:hover{
	cursor: default;
}

#visualizing{
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	font-size: 42pt;
	color: #EEEEEE;
	position: absolute;
	top: 28px;
	left:80px;
}

#the{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-size: 20pt;
	color: #EEEEEE;
	top: 65px;
	left:440px;
}

#year{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 92pt;
	color: #EEEEEE;
	top: 82px;
	left:72px;
}

#dclass{
	position: absolute;
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 44pt;
	color: #EEEEEE;
	top: 208px;
	left:42px;
}

svg.orange-boxes{
	position: absolute;
	top: 40px;
	left:15px;
	z-index: -1;
}

#downarrow{
	position:absolute;
	left: 50%;
	transform: translateX(-50%);
	top:550px;
}

/*Rando Additive Tags*/

.floatleft{
	float: left;
}